<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${error.status} + ': ' + ${#strings.defaultString(error.title, 'Internal server error')},
  content = ~{::content}, layout = 'error' ,breadcrumb = ~{::breadcrumb})}"
>
  <th:block th:fragment="breadcrumb">
    <span>
      <a href="/">首页</a>
    </span>
    <span>[[${error.status}]]</span>
    <!-- <span>[[${error.status} + ': ' + ${#strings.defaultString(error.title, 'Internal server error')}]]</span> -->
  </th:block>
  <th:block th:fragment="content">
    <div class="content">
      <p class="lead">
        <span>抱歉😞，该页面不存在</span>
        <a href="/"> 返回首页🏠</a>
      </p>
    </div>
  </th:block>
</html>
